.Modal-close{
    display: none;
}
.Modal{
    position: fixed;
    background: rgba(236, 178, 178, 0.4);
    backdrop-filter: blur(2px);
    top: 10rem;
    right: 2rem;
    bottom: 1rem;
    left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal-main{
    position: relative;
    height: 45rem;
    width: 60rem;
    background-color: aqua;
    padding: 0.5rem;
}
.Close-Button{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.Modal-main-img{
    height: 35rem;
    width: 60rem;
}